
{% include 'partials/modal.html.twig' %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            
            <div class="my-3" style="text-align: end">
                {% if app.request.attributes.get('_route') == 'app_users' %}
                    <a href="{{ path('app_form_client') }}"><button class="btn btn-primary">Ajouter utilisateur</button></a>
                {% elseif app.request.attributes.get('_route') == 'app_produit' %}
                    <a href="{{ path('app_form_produit') }}"><button class="btn btn-primary">Ajouter un produit</button></a>
                {% elseif app.request.attributes.get('_route') == 'app_marque' %}
                    <a href="{{ path('app_form_marque') }}"><button class="btn btn-primary">Ajouter une marque</button></a>
                {% elseif app.request.attributes.get('_route') == 'app_materiel' %}
                    <a href="{{ path('app_form_materiel') }}"><button class="btn btn-primary">Ajouter un materiaux</button></a>
                {% elseif app.request.attributes.get('_route') == 'app_categorie' %}
                    <a href="{{ path('app_form_categorie') }}"><button class="btn btn-primary">Ajouter une catégorie</button></a>
                {% elseif app.request.attributes.get('_route') == 'app_image' %}
                    <a href="{{ path('image_upload') }}"><button class="btn btn-primary">Ajouter une image</button></a>
                {% else %}
                    <a href="{{ path('app_dashbord') }}"><button class="btn btn-primary">Dashbord</button></a>
                {% endif %}
            </div>


            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        {% for th in headers %}
                            <th>{{ th }}</th>
                        {% endfor %}
                        <th>Modification</th>
                        <th>Supression</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        {% for th in headers %}
                            <th>{{ th }}</th>
                        {% endfor %}
                        <th>Modification</th>
                        <th>Supression</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            {% for key, data in row %}
                                <td>
                                    {% if key == 'display' %}
                                        {{ data|raw }}
                                    {% else %}
                                        {{ data }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                                {% if app.request.attributes.get('_route') == 'app_users' %}
                                    <td><a href="{{ path('app_form_users_upd', {'email': row["email"]}) }}" class="btn btn-primary" >MODIFIER</button></a>
                                    <td>
                                        <form id="deleteForm{{ loop.index }}" action="{{ path('app_form_users_delete', { 'email': row["email"] }) }}" method="post">
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </td>
                                {% elseif app.request.attributes.get('_route') == 'app_produit' %}
                                    <td><a href="{{ path('app_form_produit_upd', {'nom': row["nom"]}) }}" class="btn btn-primary" >MODIFIER</button></a>
                                    <td>
                                        <form id="deleteForm{{ loop.index }}" action="{{ path('app_form_produit_delete', { 'nom': row["nom"] }) }}" method="post">
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </td>
                                {% elseif app.request.attributes.get('_route') == 'app_marque' %}
                                    <td><a href="{{ path('app_form_marque_upd', {'nom': row["nom"]}) }}" class="btn btn-primary" >MODIFIER</button></a>
                                    <td>
                                        <form id="deleteForm{{ loop.index }}" action="{{ path('app_form_marque_delete', { 'nom': row["nom"] }) }}" method="post">
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </td>
                                {% elseif app.request.attributes.get('_route') == 'app_materiel' %}
                                    <td><a href="{{ path('app_form_materiel_upd', {'nom': row["nom"]}) }}" class="btn btn-primary" >MODIFIER</button></a>
                                    <td>
                                        <form id="deleteForm{{ loop.index }}" action="{{ path('app_form_materiel_delete', { 'nom': row["nom"] }) }}" method="post">
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </td>
                                {% elseif app.request.attributes.get('_route') == 'app_categorie' %}
                                    <td><a href="{{ path('app_form_categorie_upd', {'nom': row["nom"]}) }}" class="btn btn-primary" >MODIFIER</button></a>
                                    <td>
                                        <form id="deleteForm{{ loop.index }}" action="{{ path('app_form_categorie_delete', { 'nom': row["nom"] }) }}" method="post">
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </td>
                                  {% elseif app.request.attributes.get('_route') == 'app_image' %}
                                    <td><a href="{{ path('app_form_image_upd', {'lien': row["lien"]}) }}" class="btn btn-primary" >MODIFIER</button></a>
                                    <td>
                                        <form id="deleteForm{{ loop.index }}" action="" method="post">
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td><a href="{{ path('app_dashbord') }}"><button class="btn btn-primary">Dashbord</button></a><td>
                                {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('[id^=deleteForm]').submit(function(event) {
                event.preventDefault();
                var nom = $(this).attr('id').replace('deleteForm', '');
                $('#deleteNomInput').val(nom);
                $('#confirmDeleteModal').modal('show');

                 // Ajoutez l'action du formulaire de confirmation
                $('#confirmDeleteForm').attr('action', $(this).attr('action'));
            });

            $('#confirmDeleteForm').submit(function() {
                // Vous pouvez également ajouter d'autres traitements ici avant l'envoi du formulaire
                $(this).unbind('submit').submit();
            });
        });
    </script>
{% endblock %}
