{% extends 'layout.html.twig' %}

{% block content %}

{% if app.request.method == 'POST' %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
  
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3 class="mb-3">Nouvelle utilisateur</h3>
            <div class="card">
                <h5 class="text-center my-4">Formulaire de Client</h5>
                <form class="form-card p-3" method="post">
                    {% block form_fields %}
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.prenom) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your first name'} }) }}
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.nom) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your last name'} }) }}
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.email) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.telephone) }}</label> 
                                {{ form_widget(form.telephone, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                        </div>

                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.mot_de_passe) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.mot_de_passe, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">vérification mot de passe<span class="text-danger"> *</span></label> 
                                <input type="password" class="form-control mt-2" name="verif_mdp"/>
                            </div>
                        </div>

                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.adresse.rue) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.adresse.rue, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.adresse.ville) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.adresse.ville, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.adresse.code_postal) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.adresse.code_postal, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.adresse.pays) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.adresse.pays, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                        </div>


                        <div class="form-group col-sm-6 d-flex"> 
                            <label class="form-control-label d-flex">{{ form_label(form.role) }}<span class="text-danger"> *</span></label> 
                            {{ form_widget(form.role, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                        </div>
                    {% endblock %}
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> 
                            <button type="submit" class="btn-block btn-primary">Ajouter</button> 
                        </div>
                    </div>
                  {# {% if app.request.method == 'POST' %}
                    <p>
                        {% for key, value in app.request.request.all %}
                            <strong>{{ key }}</strong>: 
                            {% if value is iterable %}
                                {% for subItem in value %}
                                    {% if subItem is iterable %}
                                        {% for subSubItem in subItem %}
                                            {{ subSubItem }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {{ subItem }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{ value }}
                            {% endif %}
                            <br>
                        {% endfor %}
                    </p>
                {% endif %} #}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
