{% extends 'layout.html.twig' %}

{% block content %}
  
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3 class="mb-3">{{ title }}</h3>
            <div class="card">
                <h5 class="text-center my-4">Formulaire de Produit</h5>
                <form class="form-card p-3" method="post">
                {{ form_start(form) }}
                   {% block form_fields %}
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.nom) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.reference) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.reference, { 'attr': {'class': 'form-control', 'placeholder': '' }}) }}
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.prix) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.prix, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.description) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.quantite) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.quantite, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.date_creation) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.date_creation, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.marque) }}<span class="text-danger"> *</span></label> 
                                {{ form_widget(form.marque, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.categorie) }}<span class="text-danger"> *</span></label> 
                               {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <!-- Aperçu des images existantes avec possibilité de suppression -->
                        <div class="row justify-content-between text-left">
                            <div id="image-preview">
                                {% if images is defined and images is not empty %}
                                  {% for key, imageProduit in images %}
                                    <div class="image-container" style="position: relative; display: inline-block;">
                                        <img src="{{ asset('uploads/' ~ imageProduit) }}" style="max-width: 100px; margin-right: 10px;">
                                        <button type="button" class="btn btn-danger btn-sm remove-image" 
                                                style="position: absolute; top: 0; right: 0; background-color: rgba(255, 0, 0, 0.7);" 
                                                data-image-id="{{ key }}">
                                            &times;
                                        </button>
                                    </div>
                                {% endfor %}
                                {% else %}
                                    <p>Aucune image disponible pour ce produit.</p>
                                {% endif %}
                            </div>
                        </div>


                        <!-- Champ pour sélectionner des images existantes -->
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">{{ form_label(form.images) }}</label> 
                                {{ form_widget(form.images, { 'attr': {'class': 'form-control', 'multiple': true } }) }}
                            </div>
                        </div>
                        </div>

                    {% endblock %}
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
<script>
   document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.remove-image').forEach(function(button) {
        button.addEventListener('click', function() {
            var imageId = this.getAttribute('data-image-id');
            var container = this.parentNode;

            // Requête Ajax pour supprimer la relation produit-image
            fetch('{{ path('product_image_remove') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRF-TOKEN': '{{ csrf_token('remove_image') }}'
                },
                body: JSON.stringify({ imageProduitId: imageId, tableau: images })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    container.remove(); // Supprime l'image du DOM
                } else {
                    alert('Une erreur est survenue lors de la suppression de l\'image.');
                }
            })
            .catch(error => console.error('Erreur:', error));
        });
    });
});

</script>
{% endblock %}


{% endblock %}
